# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
.idea/
env/
venv/
ENV/
env.bak/
venv.bak/